block content
    h1= title
    p Rows = #{query.rows} and Columns = #{query.cols}
       -
        rows= Number(query.rows)
        col= Number(query.cols)
    if !Number.isInteger(rows)
        p The given rows is not appropriate 
    else if !Number.isInteger(col)
        p The given column is not appropriate 
    else if rows < 0 || rows > 5
        p The given rows should be in the range from 1 to 4 
    else if col < 0 || col > 5
        p The given column should be in the range from 1 to 4 
    else
       table           
            - for(let i=0; i<rows; i++) {
               tr
                 - for(let k=i; k<col+i; k++) {
                     td= k 
                 -}              
            - }

